name: docker-php

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    ports:
      - "8000:80"
    volumes:
      - ./www:/var/www/html:cached
    depends_on:
      - db
      - mailhog
    networks:
      - app-network

  db:
    image: mariadb:lts
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devdb
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge
